
.button {
  &-permission {
    background-color: var(--mantine-color-orange-4) !important;
  
    &:disabled,
    &[data-disabled] {
      background-color: var(--mantine-color-green-4) !important;
      color: var(--mantine-color-gray-7);
    }

    @media (max-width: $mantine-breakpoint-xs) {
      width: 100% !important;
    }
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100% !important;
  }
}

